@import "~/assets/sass/_breakpoints.sass"
@import "~/assets/sass/_color.sass"
.menu-link-type
  font-size: 14px
  font-weight: 500
  color: $light-grey
  font-family: 'Roboto', sans-serif  
  &:hover
    color: #c9c9c9
.title
  font-family: 'Vollkorn'
  font-size: 27px
  font-weight: 600
  color: $main-black
.subtitle
  font-family: 'Roboto', sans-serif
  font-size: 16px
  font-weight: 400
  color: $main-grey
  opacity: 0.9
.button_type
  font-family: 'Roboto', sans-serif
  font-size: 14px
  font-weight: 700
.calendar_title
  font-family: 'Roboto', sans-serif
  font-size: 18px
  font-weight: 700
.calendar_date
  font-family: 'Roboto', sans-serif
  font-size: 14px
  font-weight: 500
.calendar_place
  font-family: 'Roboto', sans-serif
  font-size: 15px
  font-weight: 400
.news_card_place
  font-family: 'Roboto', sans-serif
  font-size: 15px
  font-weight: 400
.news_card_title
  font-family: 'Roboto', sans-serif
  font-size: 19px
  font-weight: 700
.news_card_date
  font-family: 'Roboto', sans-serif
  font-size: 14px
  font-weight: 500
.news_card_action
  font-family: 'Roboto', sans-serif
  font-size: 13px
  font-weight: 700

.reading_heading
  font-size: 32px
.reading_paragraph
  font-size: 18px
  color: #444
  line-height: 34px
  font-weight: 400
  font-family: 'Vollkorn'
@media screen and (max-width: $large)
  .title
    font-size: 25px
  .subtitle
    font-size: 16px
  .button_type
    font-size: 14px
  .calendar_title
    font-size: 18px
  .calendar_date
    font-size: 14px
  .calendar_place
    font-size: 16px
@media screen and (max-width: 1124px)
  .title
    font-size: 22px
  .subtitle
    font-size: 16px
  .button_type
    font-size: 14px
  .calendar_title
    font-size: 16px
  .calendar_date
    font-size: 12px
  .calendar_place
    font-size: 14px
@media screen and (max-width: $medium)
  .title
    font-size: 24px
  .subtitle
    font-size: 17px
  .button_type
    font-size: 14px
  .calendar_title
    font-size: 15px
  .calendar_date
    font-size: 11px
  .calendar_place
    font-size: 13px  
  .news_card_place
    font-size: 13px
  .news_card_title
    font-size: 16px
  .news_card_date
    font-size: 12px
  .news_card_action
    font-size: 12px
@media screen and (max-width: 900px)
  .news_card_place
    font-size: 12px
  .news_card_title
    font-size: 15px
  .news_card_date
    font-size: 11px
  .news_card_action
    font-size: 11px
@media screen and (max-width: $tablet)
  .title
    font-size: 24px
  .subtitle
    font-size: 17px
  .button_type
    font-size: 14px

  .calendar_title
    font-size: 16px
  .calendar_date
    font-size: 13px
  .calendar_place
    font-size: 14px 

  .news_card_place
    font-size: 13px
  .news_card_title
    font-size: 16px
  .news_card_date
    font-size: 13px
  .news_card_action
    font-size: 9px
  .reading_heading
    font-size: 30px
  .reading_paragraph
    font-size: 17px
@media screen and (max-width: 520px)
  .news_card_place
    font-size: 11px
  .news_card_title
    font-size: 15px
  .news_card_date
    font-size: 11px
  .news_card_action
    font-size: 11px
@media screen and (max-width: $mobile)
  .title
    font-size: 20px
  .subtitle
    font-size: 15px
  .button_type
    font-size: 13px
  .calendar_title
    font-size: 19px
  .calendar_date
    font-size: 14px
  .calendar_place
    font-size: 15px
  .news_card_place
    font-size: 14px
  .news_card_title
    font-size: 19px
  .news_card_date
    font-size: 12px
  .news_card_action
    font-size: 11px
  
  .reading_heading
    font-size: 27px
  .reading_paragraph
    font-size: 16px
    color: #444
    line-height: 27px
    font-weight: 300
@media screen and (max-width: 375px)
  .title
    font-size: 19px
  .subtitle
    font-size: 14px
  .button_type
    font-size: 12px
  .reading_heading
    font-size: 20px
  .reading_paragraph
    font-size: 15px
@media screen and (max-width: 333px)
  .title
    font-size: 17px
  .subtitle
    font-size: 13px
  .button_type
    font-size: 11px
  .calendar_title
    font-size: 17px
  .calendar_date
    font-size: 12px
  .calendar_place
    font-size: 14px
  .news_card_place
    font-size: 12px
  .news_card_title
    font-size: 17px
  .news_card_date
    font-size: 12px
  .news_card_action
    font-size: 12px

  .reading_heading
    font-size: 20px
  .reading_paragraph
    font-size: 14px
    color: #444
    line-height: 160%
    font-weight: 300
@media screen and (max-width: 300px)
  .title
    font-size: 16px
  .subtitle
    font-size: 12px
  .button_type
    font-size: 10px
  .calendar_title
    font-size: 16px
  .calendar_date
    font-size: 11px
  .calendar_place
    font-size: 13px
@media screen and (max-width: 275px)
  .title
    font-size: 6vw
  .subtitle
    font-size: 5vw
  .button_type
    font-size: 4vw
  .calendar_title
    font-size: 6vw
  .calendar_date
    font-size: 4vw
  .calendar_place
    font-size: 5vw